@media (min-width: 1280px) {
	#header .menu {
		width: 844px;
	}
	#footer .menu-column .menu-column-list-name, 
	#footer .menu-column ul li {
		overflow-wrap: normal;
		word-wrap: normal;
		word-break: keep-all;
		line-break: auto;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		white-space: nowrap;
	}
	.article .article-figure .article-figure-image:hover, 
	.article .article-figure .article-figure-image:active {
		box-shadow: 0px 32px 56px rgba(0, 0, 0, 0.25);
	}

}
@media (min-width: 1700px) {
	#industries .industry-item .bg {
		background-size: 100%;
	}
	#industries .industry-item:hover .bg, 
	#industries .industry-item:active .bg {
		background-size: calc(100% + 20px);
	}
}
@media (max-width: 1699px) {
	#industries .industry-item .title {
		font-size: 18px;
	}
}
@media (min-width: 1280px) and (max-width: 1499px) {
	#industries .industry-item .industry-item-inner {
		padding-left: 0px;
		padding-right: 0px;
	}
	#industries .industry-item .title {
		font-size: 16px;
	}
}
@media (max-width: 1279px) {
	.container {
		width: calc(768px - (16px * 2));
	}
	#header .container, 
	#subheader .container, 
	#footer .container {
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
	#header .menu {
		width: calc(100% - 120px - 38px - 38px);
	}
	#header .menu ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		padding-left: 10%;
		padding-right: 10%;
	}
	#header .menu ul > li {
		margin-left: 10px;
		margin-right: 10px;
	}
	#subheader .menu ul {
		margin-left: -15px;
		margin-right: -15px;
		width: calc(100% + (15px * 2));
	}
	#subheader .menu ul > li {
		margin-left: 15px;
		margin-right: 15px;
	}
	#industries .industry-items {
		flex-wrap: wrap;
	}
	#industries .industry-item {
		width: 25%;
	}
	#industries .industry-item .bg {
		background-size: 100%;
	}
	#industries .industry-item:hover .bg, 
	#industries .industry-item:active .bg {
		background-size: calc(100% + (100% / 20));
	}
	#about .module-items {
		align-items: stretch;
	}
	#about .module-items .module-item {
		height: auto;
	}
	#about .module-items .module-item .module-item-inner > div {
		height: auto;
		padding-bottom: calc(32px + 10px);
	}
	.module-items .module-item .image {
		margin-top: 45px;
	}
	#footer .notice br {
		display: none;
	}
	.person-items .person-item {
		width: 261px;
	}
	.person-promo .person-promo-text {
		width: 50%;
		max-width: 50%;
	}
	.person-promo .person-promo-image {
		justify-content: flex-end;
		padding-right: 0px;
		width: 50%;
		max-width: 50%;
		text-align: right;
	}
	.person-about .person-about-colummn-item {
		width: calc(50% - 30px);
	}
	.article-related-section .article-related-item {
		margin-left: 5vw;
		margin-right: 5vw;
	}
	#subheader.menu-active .background {
		background-color: rgba(255,255,255,1) !important;
	}
	#subheader:after {
		visibility: visible !important;
		opacity: 1 !important;
	}
	#subheader .title {
		max-width: calc(100% - 38px);
	}
	#subheader .menu-mobile-arrow {
		display: inline-block;
		vertical-align: top;
	}
	#subheader.menu-active .menu-mobile-arrow .menu-mobile-arrow-icon {
		transform-origin: 50% 50%;
		transform: rotate(180deg);
	}
	#subheader .menu {
		display: block;
		position: absolute;
		top: 100%;
		left: 0px;
		width: 100%;
		max-width: 100%;
		height: auto;
		background: #fff;
		padding-top: 19px;
		padding-bottom: 19px;
		padding-left: 25px;
		padding-right: 25px;
		justify-content: flex-start;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s ease-in-out, visibility 0.4s ease, transform 0.4s ease;
		-webkit-overflow-scrolling: touch;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		will-change: transition, opacity, visibility, transform;
	}
	#subheader.menu-active .menu {
		visibility: visible;
		opacity: 1;
	}
	#subheader .menu ul {
		text-align: left;
	}
	.contacts .contacts-text-item-txt br {
		display: none;
	}
	.rekviziti .rekviziti-item-column br {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1279px) {
	.article-items .article-item .image {
		height: 240px;
	}
	.article-items .article-item .text .title {
		margin-top: 5px;
		font-size: 21px;
	}
}
@media (max-width: 1099px) {
	#header .menu ul {
		padding-left: 5%;
		padding-right: 5%;
	}
	.module-items .module-item .description br {
		display: none;
	}
	.article .container, 
	.article-related-section .container, 
	.article-back .container {
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
	.article {
		padding-top: 34px;
	}
	.article .article-title {
		margin-top: 24px;
		font-size: 40px;
	}
	.article .article-social {
		margin-top: 30px;
	}
	.article-content {
		margin-top: 54px;
	}
	.article-content.no-preview {
		padding-top: 44px;
	}
	.article .article-figure .article-figure-picture picture .article-figure-picture-bg {
		height: calc(((100vw - (25px * 2)) / 100) * 54);
	}
	.article-slider-wrapper .slider-nav-item {
		top: calc(((((100vw - (25px * 2)) / 100) * 54) / 2) - (52px / 2));
	}
	.article-related-section .article-related-slider-wrapper .slider-nav-item, 
	.article-related-section .article-related-slider-wrapper .slider-nav-item {
		visibility: visible;
		opacity: 1;	
	}
	.contacts .contacts-columns {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.contacts .contacts-columns .contacts-column.contacts-column-form, 
	.contacts .contacts-columns .contacts-column.contacts-column-text {
		width: calc(100% - (15px * 2));
	}
	.contacts .contacts-columns .contacts-column.contacts-column-text {
		margin-top: 55px;
		padding-top: 40px;
		border-top: 1px solid #d2d2d2;
	}
}
@media (max-width: 929px) {
	#header .menu ul {
		padding-left: 10px;
		padding-right: 10px;
	}
	.module-items .module-item .title {
		font-size: 52px;
		line-height: 110%;
	}
	.module-items .module-item .description {
		font-size: 26px;
	}
	.module-items.module-items-col-6 .module-item .title {
		font-size: 36px;
		line-height: 110%;
	}
}
@media (max-width: 849px) {
	#header .menu {
		oredr: 1;
		width: 40px;
	}
	#header .menu > div {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
	}
	#header .menu .menu-mobile {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
	}
	#header .menu ul {
		display: none;
	}
	#header .logo {
		order: 2;
		width: calc(100% - (40px * 2) - (40px * 2));
		justify-content: center;
		text-align: center;
	}
	#header .search, #header .account {
		order: 3;
	}
	#header .search {
		display: none;
	}
	#header .account i.account-icon {
		width: 20px;
		min-width: 20px;
	}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.module-items .module-item .btns {
		margin-left: -10px;
		margin-right: -10px;
		width: calc(100% + (10px * 2));
	}
	.module-items .module-item .btns .btn {
		margin-left: 10px;
		margin-right: 10px;
	}
	.module-items .module-item .links {
		margin-left: -6px;
		margin-right: -6px;
		width: calc(100% + (6px * 2));
	}
	.module-items .module-item .links .link {
		margin-left: 6px;
		margin-right: 6px;
	}
}
@media (min-width: 768px) and (max-width: 850px) {
	.module-items.module-items-col-6 .module-item .title {
		font-size: 32px;
	}
	.module-items.module-items-col-6 .module-item .description {
		font-size: 18px;
		line-height: 130%;
	}
	.module-items .module-item .btns {
		margin-top: 15px;
	}
	.module-items .module-item .links {
		margin-top: 10px;
	}
}
@media (min-width: 768px) and (max-width: 1279px) {

}
@media (min-width: 768px) {
	.article-items .article-item:hover, 
	.article-items .article-item:active {
		box-shadow: 0px 3px 25px 0px rgba(0,0,0,0.15);
	}
	.article-items .article-item > a:hover .image .image-bg, 
	.article-items .article-item > a:active .image .image-bg {
		transform: scale(1.05);
	}
	.article-items .article-item > a:hover .image .image-bg:after, 
	.article-items .article-item > a:active .image .image-bg:after {
		visibility: visible;
		opacity: 1;
	}
	.article-items .article-item > a:hover .text, 
	.article-items .article-item > a:active .text {
		transform: translate(0, -30px);
	}
	.article-items .article-item > a:hover .text .date, 
	.article-items .article-item > a:active .text .date {
		transform: translate(0, calc((30px - 16px + 2px) * (-1)));
	}
	.article-items .article-item > a:hover .description, 
	.article-items .article-item > a:active .description {
		visibility: visible;
		opacity: 1;
		transform: translate(0, -24px);
	}
}
@media (max-width: 767px) {
	.container {
		width: 100%;
		padding-left: 25px;
		padding-right: 25px;
	}
	.module-items .module-item {
		width: 100% !important;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	#services {
		margin: 0px 0px 0px 0px;
	}
	#industries {
		margin: 0px 0px 0px 0px;
	}
	#industries .industry-item {
		width: 50%;
	}
	#industries .industry-item:nth-child(1) {
		order: 1;
	}
	#industries .industry-item:nth-child(2) {
		order: 2;
	}
	#industries .industry-item:nth-child(3) {
		order: 4;
	}
	#industries .industry-item:nth-child(4) {
		order: 3;
	}
	#industries .industry-item:nth-child(5) {
		order: 5;
	}
	#industries .industry-item:nth-child(6) {
		order: 6;
	}
	#industries .industry-item:nth-child(7) {
		order: 8;
	}
	#industries .industry-item:nth-child(8) {
		order: 7;
	}
	#about {
		margin: 0px 0px 0px 0px;
	}
	#about .module-items {
		align-items: flex-start;
	}
	#footer .menu-columns {
		display: block;
	}
	#footer .menu-column {
		display: block;
	}
	#footer .menu-column ul {
		display: none;
		margin-top: 0px;
		padding-bottom: 15px;
	}
	#footer .menu-column .menu-column-list.active ul {
		display: block;
	}
	#footer .menu-column ul li {
		margin-top: 5px;
	}
	#footer .menu-column .menu-column-list + .menu-column-list {
		margin-top: 0px;
	}
	#footer .menu-column .menu-column-list {
		border-top: 1px solid #dfdfe3;
	}
	#footer .menu-column:last-child .menu-column-list:last-child {
		border-bottom: 1px solid #dfdfe3;
	}
	#footer .menu-column .menu-column-list-more {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
	}
	#footer .menu-column .menu-column-list-name {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: calc(28px + 10px);
		cursor: pointer;
	}
	#footer .notice {
		margin-top: 20px;
	}
	.person-promo {
		height: 280px;
	}
	.person-promo .person-promo-text {
		display: none;
		width: 60%;
		max-width: 60%;
	}
	.person-promo .person-promo-image {
		width: 100%;
		max-width: inherit;
		justify-content: center;
		align-items: stretch;
		text-align: center;
		padding-top: 20px;
	}
	.person-promo .person-promo-image img {
		display: inline-block;
		vertical-align: top;
	}
	.person-about {
		padding: 40px 0px 50px 0px;
	}
	.person-about .person-about-info {
		display: block;
	}
	.person-about .person-about-info .person-about-info-name {
		font-size: 34px;
	}
	.person-about .person-about-info .person-promo-info-position {
		margin-top: 10px;
		font-size: 24px;
	}
	.person-about .person-about-colummn-items {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: 24px;
	}
	.person-about .person-about-colummn-item {
		width: 100%;
		margin-top: 24px;
	}
	.person-about .person-about-colummn-item:first-child {
		margin-top: 0px;
	}
	#subheader.menu-active .menu {
		flex-wrap: wrap;
	}
	#subheader .menu ul > li {
		width: calc(100% - (15px * 2));
		margin-top: 5px;
		font-size: 13px;
		line-height: 17px;
	}
	#subheader .menu ul > li:first-child {
		margin-top: 0px;
	}
	.article-items {
		justify-content: center;
	}
	.article-items .article-item {
		width: calc(100% - (12px * 2));
	}
	.article-items .article-item > a {
		padding-bottom: 28px;
	}
	.article-items .article-item .text {
		padding-bottom: 0px;
	}
	.article-items .article-item .text .title h1, 
	.article-items .article-item .text .title h2, 
	.article-items .article-item .text .title h3 {
		display: block;
		overflow: auto;
		height: auto;
	}
	.article-items .article-item .text .date {
		margin-top: 18px;
	}
	.article-items .article-item .description {
		margin-top: 16px;
		position: relative;
		bottom: auto;
		left: auto;
		visibility: visible;
		opacity: 1;
	}
	.article .article-date {
		margin-top: 5px;
	}
	.article .article-title {
		margin-top: 24px;
		font-size: 32px;
		line-height: 115%;
	}
	.article .article-social {
		margin-top: calc(24px + 4px);
	}
	.article .article-social ul {
		margin-left: -8px;
		margin-right: -8px;
		width: calc(100% + (8px * 2));
	}
	.article .article-social ul li {
		margin-left: 8px;
		margin-right: 8px;
	}
	.article-content {
		margin-top: 44px;
		margin-bottom: 44px;
	}
	.article .article-figure {
		margin-top: calc(24px - 4px + 4px);
	}
	.article .article-figure + .article-figure {
		margin-top: calc(24px - 4px + 4px);
	}
	.article .article-preview + .article-figure {
		margin-top: calc(24px - 4px + 4px);
	}
	.article-slider-wrapper {
		margin-top: calc(24px - 4px + 4px);
		padding-bottom: 3px;
	}
	.article .article-figure figcaption {
		padding-top: 15px;
		padding-bottom: 2px;
	}
	.article-slider-wrapper .article-figure figcaption {
		padding-bottom: 15px;
	}
	.article-slider-wrapper .slider-dots {
		margin-top: 0px;
	}
	.article-file {
		margin-top: 34px;
		padding: 28px 28px 28px 108px;
	}
	.article-file:before {
		left: calc((108px / 2) - (33px / 2));
	}
	.article .article-contact {
		padding: 34px 0px 34px 0px;
	}
	.article .article-contact-info {
		margin-top: 20px;
	}
	.article-related-section .article-related {
		padding: 34px 0px 34px 0px;
	}
	.article-related-section .article-related-item {
		margin-left: 0vw;
		margin-right: 0vw;
	}
	.article-related-section .article-related-item {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.article-back {
		margin-top: 25px;
	}
	.page-promo {
		padding: 40px 0px 48px 0px;
		height: auto;
	}
	.page-promo .page-promo-text {
		padding: 0px 0px 0px 0px;
	}
	.page-promo .page-promo-text .page-promo-title {
		font-size: 32px;
	}
	.zapros .zapros-form-wrappper {
		width: 100%;
	}
	.white-form form .field-wrap .field-notice {
		display: none;
	}
	.zapros, 
	.contacts, 
	.rekviziti {
		padding-bottom: 70px;
	}
	.contacts .contacts-text-items {
		margin-top: 25px;
	}
	.contacts .contacts-text-item {
		margin-top: 25px;
	}
	.contacts .contacts-text-item-txt {
		margin-top: 10px;
	}
	.rekviziti .article-content br {
		display: none;
	}
	.rekviziti .rekviziti-items {
		margin-top: 30px;
	}
	.rekviziti .article-content {
		margin-top: 30px;
	}
	.page-promo .container_2 .left {
	    width: 100%;
	    padding-right: 0;
	}
	.page-promo .container_2 .right {
		display: none;
	}
	.service_article h2 {
	    font-size: 28px;
	}
	.service_item .left {
	    width: 100%;
	    padding: 10px 0;
	}
	.service_item .right {
	    width: 100%;
	    padding: 10px 0;
	}
}
@media (max-width: 699px) {
	.module-items.module-items-col-12 .module-item .module-item-inner > div {
		padding-top: 42px;
	}
	.module-items .module-item .title {
		line-height: 100%;
	}
}
@media (min-width: 600px) and (max-width: 767px) {
	#industries .industry-item .bg {
		height: 120%;
		bottom: -20%;
	}
	#industries .industry-item:hover .bg, 
	#industries .industry-item:active .bg {
		background-size: calc(100% + 10px);
	}
}
@media (min-width: 600px) and (max-width: 699px) {
	#industries .industry-item {
		height: 500px;
	}
	#industries .industry-item .bg {
		height: 140%;
		bottom: -40%;
	}
}
@media (min-width: 500px) and (max-width: 767px) {

}
@media (min-width: 500px) and (max-width: 599px) {
	.article-items .article-item .image {
		height: 280px;
	}
	.article-items .article-item .text .title {
		font-size: 25px;
	}
}
@media (max-width: 499px) {
	.module-items.module-items-col-12 .module-item .module-item-inner > div {
		padding-top: 32px;
	}
	.module-items .module-item .title {
		font-size: 44px;
	}
	.module-items .module-item .description {
		font-size: 24px;
	}
	.module-items .module-item .links .link {
		width: 100%;
	}
	.module-items .module-item .btns .btn {
		width: auto;
	}
	.module-items .module-item .links, 
	.module-items .module-item .btns {
		flex-wrap: wrap;
	}
	.module-items .module-item {
		height: 580px;
	}
	#industries .industry-item {
		height: 500px;
	}
	#industries .industry-item .bg {
		height: 110%;
		bottom: -10%;
	}
	#industries .industry-item:hover .bg, 
	#industries .industry-item:active .bg {
		background-size: calc(100% + 10px);
	}
	#footer .info .social ul {
		margin: 0px -5px 0px -5px;
		width: calc(100% + (5px * 2));
	}
	#footer .info .social ul li {
		margin: 0px 5px 0px 5px;
	}
	.breadcrumbs ul li {
		display: none;
		margin: 0px 0px 0px 4px;
		padding-right: calc(17px + 6px);
	}
	.breadcrumbs ul li:nth-last-child(2), 
	.breadcrumbs ul li:nth-last-child(3) {
		display: inline-block;
	}
	#subheader {
		height: 48px;
	}
	#subheader .title {
		font-size: 18px;
		line-height: 100%;
		padding-bottom: 0px;
	}
	.persons {
		padding-bottom: 40px;
	}
	.persons-title, 
	.person-block .person-block-title {
		font-size: 26px;
		line-height: 115%;
	}
	.person-blocks {
		margin-top: 15px;
	}
	.person-block {
		padding: 8px 0px 15px 0px;
	}
	.person-items {
		margin-top: calc(32px - 15px);
	}
	.person-items .person-item {
		margin-top: 15px;
	}
	.person-contact-block {
		margin: 40px 0px 0px 0px;
		padding: 25px 25px 25px 25px;
	}
	.person-contact-block .person-contact-block-title {
		font-size: 21px;
	}
	.person-contact-block .person-contact-block-phone, 
	.person-contact-block .person-contact-block-email {
		margin-top: 10px;
		font-size: 16px;
		line-height: 22px;
	}
	.person-contact-block .person-contact-block-email {
		margin-top: 6px;
	}
	.person-about {
		padding: 30px 0px 35px 0px;
		font-size: 16px;
		line-height: 22px;
	}
	.person-about .person-about-content p, 
	.person-about .person-about-colummn-items p {
		margin-top: 15px;
	}
	.person-about .person-about-content h1, 
	.person-about .person-about-content h2, 
	.person-about .person-about-content h3, 
	.person-about .person-about-content h4, 
	.person-about .person-about-content h5, 
	.person-about .person-about-content h6, 
	.person-about .person-about-colummn-items h1, 
	.person-about .person-about-colummn-items h2, 
	.person-about .person-about-colummn-items h3, 
	.person-about .person-about-colummn-items h4, 
	.person-about .person-about-colummn-items h5, 
	.person-about .person-about-colummn-items h6 {
		margin-top: 15px;
	}
	.person-about .person-about-info .person-about-info-name {
		font-size: 28px;
	}
	.person-about .person-about-info .person-promo-info-position {
		margin-top: 5px;
		font-size: 20px;
	}
	.person-about .person-about-colummn-items {
		margin-top: 18px;
	}
	.person-about .person-about-colummn-item {
		margin-top: 15px;
	}
	.article-items .article-item > a {
		padding-bottom: 22px;
	}
	.article-items .article-item .image {
		height: 240px;
	}
	.article-items .article-item .text {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.article-items .article-item .text .title {
		margin-top: 8px;
		font-size: 21px;
	}
	.article-items .article-item .text .date {
		margin-top: 10px;
	}
	.article-items .article-item .description {
		margin-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.article-content .table, 
	.article-content table {
		display: none;
	}
	.article {
		padding-top: 24px;
	}
	.article .article-title {
		margin-top: 18px;
		font-size: 28px;
	}
	.article .article-social {
		margin-top: 20px;
	}
	.article .article-social ul {
		margin-left: -5px;
		margin-right: -5px;
		width: calc(100% + (5px * 2));
	}
	.article .article-social ul li {
		margin-left: 5px;
		margin-right: 5px;
	}
	.article-content {
		margin-top: 34px;
		margin-bottom: 42px;
		font-size: 16px;
		line-height: 22px;
	}
	.article-content.no-preview {
		padding-top: 30px;
	}
	.article .article-figure .article-figure-caption {
		display: none;
	}
	.article-file {
		margin-top: 30px;
		padding: 24px 24px 24px 70px;
		font-size: 16px;
		line-height: 22px;
	}
	.article-file:before {
		left: calc((70px / 2) - (33px / 2));
	}
	.article-related-section .article-related-item {
		width: calc(100% - (25px * 2))
	}
	.article-related-section .article-related-slider-wrapper .slider-nav-item {
		top: calc((220px / 2) - (52px / 2));
	}
	.article-related-section .article-related-slider-wrapper .slider-nav-item.slider-nav-item-prev {
		left: calc(25px + 20px);
	}
	.article-related-section .article-related-slider-wrapper .slider-nav-item.slider-nav-item-next {
		right: calc(25px + 20px);
	}
	.article-slider-wrapper {
		padding-bottom: 0px;
	}
	.article .article-figure figcaption {
		padding-bottom: 2px;
	}
	.article-slider-wrapper .article-figure figcaption {
		padding-bottom: 4px;
	}
	.article-slider-wrapper .slider-dots {
		display: none;
	}
	.article-related-section .article-related-item .image {
		height: 220px;
	}
	.article-related-section .article-related-item .text {
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.article-related-section .article-related-item .text .title {
		margin-top: 10px;
	}
	.article-related-section .article-related-item .text .date {
		margin-top: 10px;
	}
	.article-related-section .article-related-slider-wrapper {
		height: 360px;
	}
	.article-back {
		margin-top: 35px;
	}
	.page-promo {
		padding: 30px 0px 35px 0px;
	}
	.page-promo .page-promo-text .page-promo-title {
		font-size: 28px;
	}
	.zapros, 
	.contacts, 
	.rekviziti {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.zapros .zapros-form-notes, 
	.contacts .contacts-form-notes, 
	.contacts .contacts-text-item-txt, 
	.rekviziti .rekviziti-items {
		font-size: 16px;
		line-height: 22px;
	}
	.contacts .contacts-text-item-title {
		font-size: 21px;
		line-height: 115%;
	}
	.contacts .contacts-form-title, 
	.rekviziti .rekviziti-title {
		font-size: 26px;
		line-height: 115%;
	}
	.contacts .contacts-form-notes {
		margin-top: 10px;
	}
	.contacts .contacts-text-items {
		margin-top: 20px;
	}
	.contacts .contacts-text-item {
		margin-top: 20px;
	}
	.contacts .contacts-text-item-txt {
		margin-top: 8px;
	}
	.contacts .contacts-columns .contacts-column.contacts-column-text {
		margin-top: 40px;
		padding-top: 30px;
	}
	.rekviziti .rekviziti-items {
		margin-top: 25px;
	}
	.rekviziti .rekviziti-item {
		flex-wrap: wrap;
	}
	.rekviziti .rekviziti-item:first-child {
		border-top: 1px solid #d2d2d2;
	}
	.rekviziti .rekviziti-item-column {
		padding: 15px 0px 15px 0px !important;
		width: calc(100% - (15px * 2));
	}
	.rekviziti .rekviziti-item-column:first-child {
		color: #000;
		font-weight: 500;
		padding-bottom: 2px !important;
	}
	.rekviziti .rekviziti-item-column:last-child {
		padding-top: 0px !important;
	}
	.white-form form .field-wrap.field-wrap-half {
		width: calc(100% - (15px * 2));
	}
	.white-form form .submit-wrap {
		margin-top: 28px;
	}
	.white-form form .submit-wrap .btn-submit {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	.service_article h2 {
	    font-size: 26px;
	    line-height: 115%;
	}
	.service_article p {
		font-size: 16px;
	    line-height: 22px;
	}
	.service_item p {
	    font-size: 16px;
	    line-height: 22px;
	}
	.service_item ul li {
	    font-size: 16px;
	    line-height: 22px;
	}

}
@media (max-width: 399px) {
	#industries .industry-item {
		height: 400px;
	}
	#industries .industry-item .industry-item-inner {
		padding-left: 0px;
		padding-right: 0px;
	}
	#about .module-items .module-item .module-item-inner > div {
		padding-bottom: calc(32px + 5px);
	}
	#footer .info {
		flex-wrap: wrap;
	}
	#footer .info .copyright {
		display: block;
		width: 100%;
	}
	#footer .info .social {
		display: block;
		width: 100%;
		margin-top: 10px;
	}
	#footer .info .social ul {
		justify-content: flex-start;
	}
	.person-promo {
		height: 220px;
	}
	.article-items .article-item .image {
		height: 210px;
	}
	.article-items .article-item .description {
		-webkit-line-clamp: 3;
		height: calc(16px * 3);
	}
	.page-promo .page-promo-text .page-promo-title {
		font-size: 26px;
		line-height: 115%;
	}
	.contacts .contacts-form-title, 
	.rekviziti .rekviziti-title {
		font-size: 24px;
	}
	.zapros .zapros-form-notes, 
	.contacts .contacts-form-notes, 
	.contacts .contacts-text-item-txt {
		font-size: 15px;
		line-height: 22px;
	}
	.service_article h2 {
	    font-size: 24px;
	}
	.service_item h3 {
	    font-size: 23px;
	}
	.grey_box h2 {
	    padding-bottom: 15px;
	    font-size: 24px;
	}
	.contact_sect p {
	    font-size: 17px;
	}
}
@media (max-width: 359px) {
	.module-items.module-items-col-12 .module-item .module-item-inner > div, 
	.module-items.module-items-col-6 .module-item .module-item-inner > div {
		padding-top: 22px;
	}
	.module-items .module-item .title {
		font-size: 40px;
		line-height: 110%;
	}
	.module-items .module-item .description {
		margin-top: 20px;
		font-size: 22px;
	}
	.module-items .module-item .links .link {
		font-size: 18px;
		line-height: 24px;
	}
	.module-items.module-items-col-6 .module-item .title {
		font-size: 29px;
		line-height: 110%;
	}
	.module-items.module-items-col-6 .module-item .description {
		font-size: 20px;
	}
	.module-items.module-items-col-6 .module-item .links {
		margin-top: 8px;
	}
	#industries .industry-item {
		height: 360px;
	}
	#industries .industry-item .title {
		font-size: 16px;
	}
	.breadcrumbs ul li {
		display: none !important;
	}
	.breadcrumbs ul li:nth-last-child(2) {
		display: inline-block !important;
	}
	.breadcrumbs ul li:nth-last-child(2):after {
		display: none;
	}
	.article-items .article-item .image {
		height: 180px;
	}
	.article .article-title {
		line-height: 110%;
	}
	.article-content {
		margin-top: 30px;
	}
	.article .article-figure figcaption {
		padding-top: 10px;
	}
	.article-content blockquote {
		font-size: 15px;
		line-height: 20px;
		padding-left: 56px;
	}
	.article-content blockquote:before {
		font-size: 50px;
	}
	.article .article-contact-info {
		font-size: 16px;
		line-height: 22px;
	}
	.article .article-contact .article-contact-position, 
	.article .article-contact .article-contact-phone, 
	.article .article-contact .article-contact-email {
		margin-top: 5px;
	}
	.article-related-section .article-related-item .image {
		height: 180px;
	}
	.article-slider-wrapper .slider-nav-item {
		top: calc(((((100vw - (25px * 2)) / 100) * 54.855) / 2) - (46px / 2));
	}
	.article-related-section .article-related-slider-wrapper .slider-nav-item {
		top: calc((180px / 2) - (46px / 2));
	}
	.slider-nav-item {
		width: 46px;
		height: 46px;
	}
	.article-related-section .article-related-slider-wrapper {
		height: 320px;
	}
	.article-back .article-back-description {
		font-size: 16px;
		line-height: 22px;
	}
	.article-back .article-back-link {
		margin-top: 8px;
	}
	.article-back {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 1280px) {
	#subheader .dropdown_menu {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 767px) {
	#subheader .dropdown_menu {
		position: relative;
	}
	#subheader .dropdown_menu_items .col {
	    padding: 10px 25px;
	}
}